<style>
  /* Centering the container */
.container {
    text-align: center;
    margin-top: 50px;
}

/* Styling the heading */
h2 {
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

/* Styling the image */
img {
    width: 200px;  /* Fixed size */
    height: auto;
    margin-top: 20px;
    cursor: pointer; /* Makes it clear it's clickable */
    border: 2px solid lightblue;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 20%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


</style>
<div class="container">
  <h2>{{title}}</h2>
  <img [src]="ImageURL" (click)="onClick()" alt="Dynamic BridgeLabz Logo">
</div>

<div class="container">
  <h2>Hello, {{ userName }} from BridgeLabz</h2>
  <input type="text" (input)="onInput($event)" [(ngModel)]="userName" placeholder="Enter your name">
  <span class= error> {{this.errorMessage}} </span>
</div>